<header>
    <nav aria-label="Hauptnavigation">
        <div class="nav-left">
        <a href="home.html">
            <img src="/img/RikaLogo_hell.svg" alt="Rika Logo" id="header-logo">
        </a>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="about.html" class="nav-link" data-i18n="aboutNavLink">Über mich</a></li>
                <li><a href="projects.html" class="nav-link" data-i18n="projectsNavLink">Projekte</a></li>
                <li><a href="contact.html" class="nav-link"data-i18n="contactNavLink">Kontakt</a></li>
            </ul>
            <div class="language-toggle">
                <button id="language-toggle-btn" aria-label="Sprache ändern">DE | EN</button>
            </div>
        </div>
    </nav>
</header>